doctype html
html(lang="en")
  link(rel='stylesheet', href='/css/material-light.min.css')
  link(rel='stylesheet', href='/css/korner-ui.min.css')  
  
  div.mdl-color--blue
    img(style="max-height:25px!important; padding:4px" src='https://myhome.kornersafe.com/app/img/korner_logo_white.png', alt='Image')
  div.korner-text-center
    h5 Page Not Found
    | The page you are trying to reach cannot be found.
    .mdl-card__actions
      a(href="/").mdl-button.mdl-button--colored Home
    br
    br
    span.korner-text-color-light © 2015 Copyright by PatrolTag Inc | All rights reserved.
