.wizard-section-intro
  h3(translate) Extender Placement
  
md-card.md-padding.text-center
  h4(translate) Plug Extender into outlet approximately 2/3 of the way between Stick and most distant Tag location.
md-card.text-center.text-center
  h4(translate) Place Extender somewhere convenient such as on a table or shelf, but try to keep off the floor.
md-card.md-padding(layout-align="center center")
  img.md-card-image.korner-wizard-image(src='app/img/korner-extender.png')
