md-dialog(flex layout="column" ng-controller="notifyCircleController")
  
  md-toolbar.md-primary(flex md-theme="wizardTheme")
    .md-toolbar-tools
      h2.korner-text-color-white.md-flex(translate) Notify Circle


  // - Message
  md-content(flex layout="column" layout-fill)
    md-card
      p Please type the message you would like to send to the circle members.
      md-input-container(flex)
        label(translate) Message
        textarea(ng-model="message" columns="1" md-maxlength="250")

    br
    md-card(flex)
      ks-korner-section-title(title='"Circle Members"')
      br

      .item.item-toggle(ng-repeat='user in circleMembers | orderBy: "last_name"')
        | {{user.fullName()}}
        label.toggle.toggle-balanced
          input(type='checkbox' ng-model="user.invited")
          .track
            .handle

              
  .md-actions(layout="row")
    ion-footer-bar
      .row.wizard-section-intro(layout="col" layout-sm="row" layout-align="center")
        .col.col-30.text-center.col-center
          md-button.md-raised.center(ng-click="cancel()" translate) Cancel
        .col.col-30.text-center.col-center
          md-button.md-raised.md-primary.center(ng-click="notifyCircleMembers()" translate) Notify Circle
