.wizard-section-intro
  h3(translate) Tag Preparation
        
  //- .md-padding.wizard-selection.text-center(layout="column" layout-fill style="padding-bottom: 32px;")
md-card.md-padding.text-center(layout layout-align="center center")
  h4(translate) Do <strong>NOT</strong> slide Tag cover off or remove battery strip yet!
md-card.md-padding.text-center(layout layout-align="center center")
  h4(translate) Make sure window is in closed position
md-card.text-center(layout layout-align="center center")
  h4(translate) Remove protective strip from adhesive on back of Tag
  img.md-card-image.korner-wizard-image(src='app/img/tag_wizard/remove_protective_strip.jpg')  
      
