md-content(flex ng-controller="profilePasswordController")
  div(ng-repeat='alert in alerts' ng-if="alerts.length > 0") 
    .item(id='alertDiv').item-divider.item-energized
      | {{alert.msg}}

  p.md-padding(translate) Enter your old password and a new password. <br/>Pasword must be at least 6 characters long.
  form(role='form', name='changePasswordForm', novalidate='novalidate')
    div(layout='column' layout-margin='' layout-fill='' layout-padding='')
      
      md-input-container.md-input
        label Old Password
        input(type='password', name='myOldPassword', autocomplete='off', ng-model='change_password.old_password', required)
        div(ng-messages="changePasswordForm.myOldPassword.$error" role="alert"  ng-show="changePasswordForm.newPassword.$touched || changePasswordForm.newPassword.$submitted")
          div.text-nowrap(ng-message="required") Old Password is required 

      md-input-container.md-input
        label New Password
        input(type='password', name='newPassword', minLength='6', autocomplete='off', ng-model='change_password.new_password', required)
        div(ng-messages="changePasswordForm.newPassword.$error" role="alert"  ng-show="changePasswordForm.newPassword.$touched || changePasswordForm.newPassword.$submitted")
          div.text-nowrap(ng-message="required") New Password is required 
          div.text-nowrap(ng-message="minlength") Password too short (minimum 6 characters) 
          
      md-input-container.md-input
        label Retype New Password
        input(type='password', name='confirmPassword', autocomplete='off', ng-model='change_password.confirm_password', required, compare-to="change_password.new_password")
        div(ng-messages="changePasswordForm.confirmPassword.$error" role="alert"  ng-show="changePasswordForm.confirmPassword.$touched || changePasswordForm.confirmPassword.$submitted")
          div.text-nowrap(ng-message="required") Confirmation password is required 
          div.text-nowrap(ng-message="compareTo") Password mismatch
    br

    section(layout='row', layout-align='center')
      md-button.md-raised.md-primary(id='resetButton' ng-disabled='changePasswordForm.$invalid', ng-click='changePassowrd(changePasswordForm.$valid)') Update Password
