ion-content.login-bg(layout="row" layout-align="center center")
  .padding(flex-gt-sm)
    .text-center
      img(src='app/img/korner_logo_white.png', width='85%',  align='middle')
    .card
      .item.item-divider
        | Account Verification Successful
        
      .item-body
        p(translate) Congratulations, you are successfully registered with Korner Safe.  You can now download Korner Mobile App or log in.
        br
        p.korner-text-center
          a(href="https://geo.itunes.apple.com/us/app/korner-security/id1006928946?mt=8")
            img(alt="Get it on Apple" src="http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.png")
          | &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          a(href="https://play.google.com/store/apps/details?id=com.kornersafe.secure.igg")
            img(alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png")
          br
          br
          translate or
          br
        section(layout='row', layout-align='center')
          md-button.md-raised.md-primary( ui-sref='app.account.login') Log in
