ion-content.login-bg(layout="row" layout-align="center center")
  .padding(flex-gt-sm)
    .text-center
      img.hide-on-keyboard-open(src='app/img/korner_logo_white.png', width='85%',  align='middle')
    .card
      .item.item-divider
        | Forgot Password
      .item-body
        include account/_alert-messages
        
        span Please enter your email to reset your password.
        br
        form(role='form', name='forgotPasswordForm', novalidate='novalidate')
          md-input-container.md-input
            label Email
            input(type='email', name="myEmail", ng-model='reset.email', required='required')
            div(ng-messages="forgotPasswordForm.myEmail.$error"  ng-show="forgotPasswordForm.myEmail.$touched || forgotPasswordForm.myEmail.$submitted")
              div.text-nowrap(ng-message="required") Email is required
              div.text-nowrap(ng-message="email") Please enter a valid email address.

        section(layout='row', layout-align='center')
          md-button.md-raised(id='cancelButton' ui-sref='app.account.login') Cancel
          md-button.md-raised.md-primary(id='resetButton' ng-disabled='forgotPasswordForm.$invalid', ng-click='onReset()') Reset
